<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title %></title>
    <meta name="description" content="<%= title %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:site_name" content="Givespace" />
    <meta property="og:image" content="https://via.placeholder.com/150" />
    <meta name="author" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta name="theme-color" content="#c9042c" />
  </head>
  <body>
    <div id="root"></div>

    <% if(process.env.NODE_ENV === "development"){ %>
    <script src="http://localhost:3000/index.js"></script>
    <% } else { %>
    <script src="/index.js" charset="utf-8"></script>
    <% } %>
  </body>
</html>
